<!-- footer -->
<div class="container text-center">
  <footer class="footer card-spaced accent-borderOFF">

    <div class="footer-link facebook">
        <a target="_blank" rel="noopener" href="https://www.facebook.com/jana.jurakova"><span class="access">My Facebook page</span></a>          
    </div>

    <div class="footer-link twitter">
        <a target="_blank" rel="noopener" href="https://twitter.com/JurakovaJana"><span class="access">My Twitter page</span></a>
    </div>

    <div class="footer-link instagram">
        <a target="_blank" rel="noopener" href="https://www.instagram.com/janajurakova11mua/"><span class="access">My Instagram page</span></a>
    </div>

    <div class="footer-link email">
        <a target="_blank" rel="noopener" href="mailto:jana.jurakova@yahoo.co.uk"><span class="access">Send me an email</span></a>
    </div>
  </footer>
</div>