<!-- footer -->
<div class="container text-center">
  <footer class="footer card-spaced accent-borderOFF">

    <div class="footer-link facebook">
        <a target="_blank" rel="noopener" (click)="sendLinkClickEvent('facebook')" href="{{facebook}}"><span class="access">My Facebook page</span></a>
    </div>

    <div class="footer-link twitter">
        <a target="_blank" rel="noopener" (click)="sendLinkClickEvent('twitter')" href="{{twitter}}"><span class="access">My Twitter page</span></a>
    </div>

    <div class="footer-link instagram">
        <a target="_blank" rel="noopener" (click)="sendLinkClickEvent('instagram')" href="{{instagram}}"><span class="access">My Instagram page</span></a>
    </div>

    <div class="footer-link email">
        <a target="_blank" rel="noopener" (click)="sendLinkClickEvent('email')" href="mailto:{{emailAddress}}"><span class="access">Send me an email</span></a>
    </div>
  </footer>
</div>
