<!-- footer -->
<div class="container text-center">
  <footer class="footer">
    <a target="_blank" rel="noopener" class="social-link" href="https://www.facebook.com/jana.jurakova">
      <i id="social-fb" class="fa fa-facebook-square fa-3x social"><p class="access">My Facebook page</p></i>
    </a>
    <a target="_blank" rel="noopener" class="social-link" href="https://twitter.com/JurakovaJana">
      <i id="social-tw" class="fa fa-twitter-square fa-3x social"><p class="access">My Twitter page</p></i>
    </a>
    <a target="_blank" rel="noopener" class="social-link" href="https://www.instagram.com/janajurakova11mua/">
      <i id="social-instagram" class="fa fa-instagram fa-3x social"><p class="access">My Instagram page</p></i>
    </a>
    <a target="_blank" rel="noopener" class="social-link" href="mailto:jana.jurakova@yahoo.co.uk">
      <i id="social-em" class="fa fa-envelope-square fa-3x social"><p class="access">Send me an email</p></i>
    </a>
  </footer>
</div>