<!-- Main introduction -->
<div class="container">
  <header>
    <h1 class="primary-title text-center accent-color">Wedding Makeup Artist</h1>
    <h2 class="secondary-title text-center accent-color">Jana Jurakova</h2>
  </header>

  <div class="welcome-image welcome-image-one"></div>
  <div class="welcome-image welcome-image-two"></div>
  <div class="welcome-image welcome-image-three"></div>

  <main>
    <div class="welcome-text text-center vertical-margin-spaced">
      <h2 class="accent-color">Makeup is art!</h2>
      <p class="padded-text">As a makeup artist I have the power to turn my brides into the most beautiful, confident and happy women on their special day.</p>
      <p class="padded-text">Every look I create is a unique piece of art coming from my heart.</p>
      
      <p class="padded-text">Once in a while, right in the middle of ordinary life, love gives us a Fairy Tale.</p>
      <p class="padded-text">One of the most amazing moments of that fairy tale starts with a beautiful wedding, a celebration of love.</p>

      <p class="padded-text">I based in Dorking, Surrey and cover South East England.</p>


      <p class="padded-text"><strong>Phone number:</strong> 07429 447156</p>

      <a (click)="navigateToGallery();" class="btn btn-default vertical-margin-spaced">
        <span>View gallery</span>
      </a>
      <a (click)="navigateToContact();" class="btn btn-default vertical-margin-spaced">
        <span>Contact me</span>
      </a>

      <br>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d639688.2675263591!2d-0.8936078222669994!3d51.22308602075035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875e7c060ec40a9%3A0xc24f23a35b56433!2sMakeup+by+Jana!5e0!3m2!1sen!2suk!4v1539635238098" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </main>
</div>
