header {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.primary-title {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.secondary-title {
    margin: 0;
    padding: 0;    
    font-size: 1.5rem;
}

.welcome-image {
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.welcome-image-one {
    background: url("../../assets/images/3a.jpg") no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.welcome-image-two {
    background: url("../../assets/images/2a.jpg") no-repeat; 
    background-position: 50% 31%;
    background-size: cover;
}

.welcome-image-three {
    background: url("../../assets/images/18a.jpg") no-repeat; 
    background-position: 50% 20%;
    background-size: cover;
}

@media screen and (min-width: 650px) {
    .welcome-image {
        height: 750px;
    }

    .welcome-image-one {
        background: url("../../assets/images/1b.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .welcome-image-two,
    .welcome-image-three {
        display: none;
    }
}
