@import '../../sass/mixins.scss';

.background {
  background: url("../../assets/images/welcome-background-small.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include breakpoint(sm) {
    background: url("../../assets/images/welcome-background-large.jpg") no-repeat center center;
    background-size: cover;
  }
}

.main-content {
  margin: 340px 10px 0 10px;
  background: rgba($color: #000000, $alpha: 0.3);
  padding: 3px;
  border-radius: 2px;

  .wrapper {
    padding: 10px;
    border-radius: 2px;      
    background-color: rgba($color: #FFF, $alpha: 0.4);  

    .logo {
      background: url("../../assets/images/logo-transparent-small.png");
      width: 280px;
      height: 130px;
    }
  
    .heading {
      font-size: 1.5em;
      font-weight: normal;
    }

    .text-wrapper {
      border-radius: 2px;

      p {
        color: #FFF;
      }
    }
  }
}
