.welcome-image {
    height: 550px;
    border-radius: 5px;
    background: url("../../assets/images/1a.jpg"); 
    background-position: top;
}

header {
    text-align: center;
    padding-top: 150px;
}

.primary-title {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.secondary-title {
    color: white;    
    padding-top: 50px;
    font-size: 1.5rem;
}

@media screen and (min-width: 424px) {
    .welcome-image {
        height: 750px;
        background: url("../../assets/images/1b.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }
}
