<!-- Main introduction -->
<div class="container">
  <div class="welcome-image welcome-image-one">
    <header>
      <h1 class="primary-title text-center">Wedding Makeup Artist</h1>
      <h2 class="secondary-title text-center">Jana Jurakova</h2>
    </header>
  </div>
  <div class="welcome-image welcome-image-two"></div>
  <div class="welcome-image welcome-image-three"></div>

  <main>
    <div class="welcome-text text-center vertical-margin-spaced">
      <h2 class="accent-color">Makeup is art!</h2>
      <p class="padded-text">As a makeup artist I have the power to turn my brides into the most beautiful, confident and happy women on their special day.</p>
      <p class="padded-text">Every look I create is a unique piece of art coming from my heart.</p>
      
      <p class="padded-text">Once in a while, right in the middle of ordinary life, love gives us a Fairy Tale.</p>
      <p class="padded-text">One of the most amazing moments of that fairy tale starts with a beautiful wedding, a celebration of love.</p>

      <button type="button" routerLink="/gallery"class="btn btn-default vertical-margin-spaced">
        <span>View gallery</span>
      </button>
    </div>
  </main>
</div>