<!-- Content -->
<main>
  <div class="main-content">
    <div class="wrapper">
      <div class="text-wrapper">
        <h2 class="heading text-center accent-color">Blog</h2>
        <p>Here are some examples of other work that I am involved with.</p>
      </div>
      
      <div *ngIf="gallery.length > 0;">
        <div class="image-wrapper" *ngFor="let blog of gallery; let myIndex = index">
          <div class="instagram-media" [innerHTML]="blog.html | safe: 'html'"></div>
        </div>
      </div>
    </div>
  </div>
</main>
