.about-me-title {
    padding: 10px 0 10px 0;
}

.about-me-heading {
    line-height: 30px;
    padding: 10px 0 10px 0;
    color: #FF8282;
}

.about-me-text {
    line-height: 30px;
    font-size: 120%;
    padding: 10px 0 10px 0;
}

.about-me-image {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255,255,255, .3)), url("../assets/jana_about_me.jpg");
    
}