<br>
<div class="container">
  <div class="jumbotron">
    <h1>Jana Jurakova Wedding Makeup Artist</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet velit eu lectus aliquam vehicula. Etiam interdum libero velit, a vulputate lacus finibus eu. Aenean bibendum malesuada tellus vel ornare. Praesent mauris erat, maximus non sapien a, hendrerit ornare magna. Donec sit amet luctus neque. Donec sodales quam ut odio ullamcorper venenatis. Aliquam augue leo, fermentum sed aliquet nec, finibus at tortor. Nulla tincidunt lacus vel blandit placerat.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Me</a></p>
  </div>
</div>