<div class="container">
  <!-- Naveigation bar -->
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <!-- Mobile menu button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Heading -->
      <a class="navbar-brand" href="#">
        <span>Bridal Makeup Artist</span>
      </a>
    </div>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="#">Welcome <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <!-- Main introduction -->
  <div class="jumbotron introduction text-center">
    <h1>Makeup is art!</h1>
    <p>Beauty is a powerful thing.</p>
    <p>As a makeup artist I have the power to turn my brides into the most beautiful, confident and happy women on their special day.</p>
    <p>Every look I create is a unique piece of art coming from my heart.</p>
    
    <p>Once in a while,</p>
    <p>right in the middle of ordinary life,</p>
    <p>love gives us</p>
    <p>a</p>
    <p>Fairy Tale.</p>
    <p>One of the most amazing moments of that fairy tale starts with a beautiful wedding, a celebration of love.</p>
    <p><a class="btn btn-default btn-lg" href="#" role="button">See my work</a></p>
  </div>
</div>