<div class="container">
  <div>
    <header>
      <h1 class="accent-color text-center vertical-margin-spaced">Testimonials</h1>
    </header>
  </div>
  <main>
    <!-- Caroline -->
    <div class="row top-margin">
      <div class="col-md-3">
        <div class="user-icon img-circle caroline"></div>
      </div>
      <div class="col-md-6">
        <div class="user-text text-center top-margin-mobile">
            <p>"Having been unimpressed with my first wedding make up artist, I approached Jana and asked if she would do a trial. Jana created exactly the look I was after, and was able to incorporate my style and ideas into her own creative vision. She was professional and knowledgable as well as a lot of fun. She subsequently completed the make up for my wedding as well as several other important occasions after. This included a very special maternity shoot with my husband some 18 months after the wedding. I would not hesitate to recommend Jana as a make up artist to anyone who wants to create a special and bespoke look for any occasion."</p> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="user-name text-center top-margin-mobile bottom-margin-mobile">Caroline D
          <div class="location">from Herts</div>
        </div>
      </div>
    </div>

    <!-- Stephane -->
    <div class="row top-margin">
      <div class="col-md-3">
        <div class="user-icon img-circle stephane"></div>
      </div>
      <div class="col-md-6">
        <div class="user-text text-center top-margin-mobile">
          <p>"I am a portrait and wedding photographer based in Surrey and recently I had the immense privilege to team up with Jana on a bridal photo session for a beautiful bride to be. Jana is an extremely creative and skilled make-up artist very knowledgeable about the art of make-up and hair styling to transform a woman into a beautiful bride, she can also apply creations of her own when it comes to make-up, hair and styling. Moreover Jana has a delightful personality with a very positive attitude and fun to work with. I highly recommend Jana to anyone looking for a professional bridal make-up and hair artist."</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user-name text-center top-margin-mobile bottom-margin-mobile">Stephane L
          <div class="location">from Weybridge</div>
        </div>
      </div>
    </div>

    <!-- Viera -->
    <div class="row top-margin">
      <div class="col-md-3">
        <div class="user-icon img-circle viera"></div>
      </div>
      <div class="col-md-6">
        <div class="user-text text-center top-margin-mobile">
          <p>"I have knows Jana for over 8 years. I work as a fashion and fitness model and I met Jana at various fashion shows and photo-shoots where we worked together. I have also had the pleasure to work with her at a wedding photo-shoot we did together for a bridal magazine where she created an amazing look for me which was one of my favourites! Jana is a magnificent artist, she can create any look and can adapt to any occasion. Every time she does my make up I know I am in good hands. I certainly recommend Jana to anyone who has a special occasion to celebrate. She will make you look and feel like a princess!"</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user-name text-center top-margin-mobile bottom-margin-mobile">Viera S
          <div class="location">from London</div>
        </div>
      </div>
    </div>

    <!-- Naomi -->
    <div class="row top-margin">
      <div class="col-md-3">
        <div class="user-icon img-circle naomi"></div>
      </div>
      <div class="col-md-6">
        <div class="user-text text-center top-margin-mobile">
          <p>"Jana is a very talented lady. I modelled for her on two occasions: a bridal lingerie shoot and at a <a target="_blank" rel="noopener" (click)="sendLinkClickEvent('news-article')" href="https://www.yoursurrey.wedding/news.cfm?News_ID=13674"><span class="access">View Your Surrey Wedding Magazine article</span>Wedding Fair at Epsom Downs</a>. She did an amazing job with my makeup and is really skilled at what she does. Not only that, but she styled my very big curly hair to perfection with creations of her own! Jana knows what she wants and creates it. Cannot wait to work with her again - definitely recommended!"</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user-name text-center top-margin-mobile bottom-margin-mobile">Naomi J
          <div class="location">from Croydon</div>
        </div>
      </div>
    </div>

    <div class="row top-margin">
      <h3 class="accent-color text-center vertical-margin-spaced">Recommended Professionals</h3>
    </div>
    <div class="row top-margin-mobile">
      <div class="col-md-4 desktop-height-300">
        <a class="desktop-vertical-center-21" style="text-align: center; display: block;" target="_blank" rel="noopener" href="http://www.flowersbyelaine.co.uk">
          <img class="flowers-by-elaine" src="./assets/images/logos/FlowersByElaine.png" alt="Flowers By Elaine (Dorking)" />
        </a>
      </div>
      <div class="col-md-4 desktop-height-300">
        <a class="desktop-vertical-center-21" style="text-align: center; display: block;" target="_blank" rel="noopener" href="https://www.stephaneleblonphotography.com/">
          <img class="bride-by-aster" src="./assets/images/logos/StephaneLeblone.png" alt="Stephane Lelone Photography (Weybridge)" />
        </a>
      </div>
      <div class="col-md-4 desktop-height-300">
        <a class="desktop-vertical-center-21" style="text-align: center; display: block;" target="_blank" rel="noopener" href="https://www.yoursurrey.wedding/news.cfm?News_ID=13674">
          <img class="bride-by-aster" src="./assets/images/logos/yoursurreyweddingmagazine.jpg" alt="Your Surrey Wedding Magazine (Surrey)" />
        </a>
      </div>
    </div>
  </main>
</div>
