<div class="container">
  <div>
    <header>
      <h1 class="accent-color text-center vertical-margin-spaced">Testimonials</h1>
    </header>
  </div>
  <main>
    <div class="row top-margin">
      <div class="col-md-3">
        <div class="user-icon img-circle caroline"></div>
      </div>
      <div class="col-md-6">
        <div class="user-text text-center top-margin-mobile">
            <p>"Having been unimpressed with my first wedding make up artist, I approached Jana and asked if she would do a trial. Jana created exactly the look I was after, and was able to incorporate my style and ideas into her own creative vision. She was professional and knowledgable as well as a lot of fun. She subsequently completed the make up for my wedding as well as several other important occasions after. This included a very special maternity shoot with my husband some 18 months after the wedding. I would not hesitate to recommend Jana as a make up artist to anyone who wants to create a special and bespoke look for any occasion."</p> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="user-name text-center top-margin-mobile bottom-margin-mobile">Caroline D
          <div class="location">from Herts</div>
        </div>
      </div>
      <div class="row">
          <a style="text-align: center; display: block;" target="_blank" href="http://www.flowersbyelaine.co.uk">
            <img class="flowers-by-elaine" src="./assets/images/logos/FlowersByElaine.png" alt="Flowers By Elaine (Dorking)" />
          </a>
        </div>
        <div class="row">
          <a style="text-align: center; display: block;" target="_blank" href="https://www.bridebyaster.com">
            <img class="bride-by-aster" src="./assets/images/logos/bridebyaster.png" alt="Bride By Aster (Dorking)" />
          </a>
        </div>
    </div>
  </main>
</div>