<div class="container gallery-page">
  <div class="text-center">
    <h1 class="accent-color vertical-margin-spaced">Gallery</h1>
    
    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/wedding/1a.jpg" itemprop="contentUrl" data-size="1024x681">
          <img src="./assets/images/wedding/1b.jpg" itemprop="thumbnail" alt="Caroline's Wedding" />
        </a>
        <figcaption itemprop="caption description">Caroline's Wedding</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/wedding/2a.jpg" itemprop="contentUrl" data-size="1024x681">
          <img src="./assets/images/wedding/2b.jpg" itemprop="thumbnail" alt="Caroline's Wedding" />
        </a>
        <figcaption itemprop="caption description">Caroline's Wedding</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/wedding/3a.jpg" itemprop="contentUrl" data-size="453x681">
          <img src="./assets/images/wedding/3b.jpg" itemprop="thumbnail" alt="Caroline's Wedding" />
        </a>
        <figcaption itemprop="caption description">Caroline's Wedding</figcaption>
      </figure>      
      
    </div>

  </div>
</div>