<div class="container">
  <header>
    <div class="text-center">
      <h1 class="accent-color vertical-margin-spaced">Gallery</h1>
    </div>
  </header>

  <main>
    <div class="row my-gallery">
      <div *ngFor="let galleryEntry of galleryDefinitions" class="col-lg-3 col-sm-4 col-ms-6 col-xs-6">
        <figure class="gallery-thumbnail">
          <a href="./assets/images/wedding/{{galleryEntry.mainImage}}" [attr.data-size]="galleryEntry.size">
            <img class="img-responsive center-block" src="./assets/images/wedding/{{galleryEntry.thumbnailImage}}" alt="{{galleryEntry.caption}}" />
          </a>
          <figcaption itemprop="caption description">{{galleryEntry.caption}}</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <a style="text-align: center; display: block;" target="_blank" href="http://www.flowersbyelaine.co.uk">
        <img class="flowers-by-elaine" src="./assets/images/logos/FlowersByElaine.png" alt="Flowers By Elaine (Dorking)" />
      </a>
    </div>
    <div class="row">
        <a style="text-align: center; display: block;" target="_blank" href="https://www.bridebyaster.com">
          <img class="bride-by-aster" src="./assets/images/logos/bridebyaster.png" alt="Bride By Aster (Dorking)" />
        </a>
      </div>
  </main>
</div>

<!-- TODO Put the below gallery in a template file -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. 
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)">
              <span class="access">Close (Esc)</span>
            </button>

            <button class="pswp__button pswp__button--share" title="Share">
              <span class="access">Share Image</span>
            </button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">
              <span class="access">Toogle Fullscreen</span>                
            </button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out">
              <span class="access">Zoom in/out</span>
            </button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
            </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div> 
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              <span class="access">Previous image</span>              
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            <span class="access">Next image</span>
          </button>

          <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
          </div>
      </div>
  </div>
</div>
