.gallery-thumbnail {
    height: 210px;
}

.gallery-thumbnail > figcaption {
    visibility: hidden;
}

.pswp {
    /* Stops the gallery jumping to the top of the screen */
    position: fixed;
}

.flowers-by-elaine {
    width: 250px;
    background: #736f6e;
    padding: 10px;
    margin: 20px;
}

.bride-by-aster {
    width: 250px;
    background: #ffffff;
    padding: 10px;
    margin: 20px;
}