@import '../../sass/mixins.scss';

.nav-up {
    top: -55px;
}

.navbar {
    transition: top 0.2s ease-in-out;

    .navbar-header {
        background-color: rgba(0, 0, 0, 0.2);      

        @include breakpoint(sm) {
            background-color: transparent;  
          }
    }

    .navbar-toggle {
        border-radius: 2px;
        border: 1px solid rgba($color: #FFF, $alpha: 0.8)
    }

    .navbar-toggle:active {
        border: 1px solid #FFF;
        background: rgba(211, 76, 182, 0.2);
        outline-color: rgba(211, 76, 182, 0.2);
    }

    .menu-button-text {
        color: rgba($color: #FFF, $alpha: 0.8);
        font-size: 0.875em;
    }
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.2);

    a {
        color: #FFF;
    }

    a:hover,
    a:focus {
        background: rgba(211, 76, 182, 0.2);
    }

    .active {
        a {
            background: rgba(211, 76, 182, 0.2);   
            border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}

.brand-title {
    color: #A00F7E;
    font-size: 1.2em;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 26px;
}

.brand-logo {
    margin: -10px 0;
    background: url("../../assets/images/logo-transparent-smallest.png") no-repeat center center;
    float: left;    
    width: 100px;
    height: 46px;
}