<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <!-- Mobile menu button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Heading -->
      <a class="navbar-brand brand-title" href="#">
        <span>Bridal Makeup Artist</span>
      </a>
    </div>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about-me">About Jana</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/gallery">Gallery</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/bookings">Bookings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
