<!-- Main introduction -->
<div class="container">
  <div class="jumbotron introduction text-center">
    <h1>Makeup is art!</h1>
    <p>Beauty is a powerful thing.</p>
    <p>As a makeup artist I have the power to turn my brides into the most beautiful, confident and happy women on their special day.</p>
    <p>Every look I create is a unique piece of art coming from my heart.</p>
    
    <p>Once in a while,</p>
    <p>right in the middle of ordinary life,</p>
    <p>love gives us</p>
    <p>a</p>
    <p>Fairy Tale.</p>
    <p>One of the most amazing moments of that fairy tale starts with a beautiful wedding, a celebration of love.</p>
    <!-- <p><a class="btn btn-default btn-lg" href="#" role="button">See my work</a></p> -->
  </div>
</div>