$font-path: "./assets/fonts/";

html,
body {
    min-width: 320px;
    // font-family: 'HaloHandletter';
    // font-family: 'Balqis';
    // font-family: 'BrotherhoodScript';
}

/* TODO - Donationware */
@font-face {
    font-family: 'HaloHandletter';
    src: url('#{$font-path}HaloHandletter/HaloHandletter.eot');
    src: url('#{$font-path}HaloHandletter/HaloHandletter.woff2') format('woff2'),
            url('#{$font-path}HaloHandletter/HaloHandletter.woff') format('woff'),
            url('#{$font-path}HaloHandletter/HaloHandletter.ttf') format('truetype'),
            url('#{$font-path}HaloHandletter/HaloHandletter.svg#HaloHandletter') format('svg'),
            url('#{$font-path}HaloHandletter/HaloHandletter.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balqis';
    src: url('#{$font-path}/Balqis/Balqis.eot');
    src: url('#{$font-path}/Balqis/Balqis.woff2') format('woff2'),
         url('#{$font-path}/Balqis/Balqis.woff') format('woff'),
         url('#{$font-path}/Balqis/Balqis.ttf') format('truetype'),
         url('#{$font-path}/Balqis/Balqis.svg#Balqis') format('svg'),
         url('#{$font-path}/Balqis/Balqis.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrotherhoodScript';
    src: url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.eot');
    src: url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.woff2') format('woff2'),
         url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.woff') format('woff'),
         url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.ttf') format('truetype'),
         url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.svg#BrotherhoodScript') format('svg'),
         url('#{$font-path}/BrotherhoodScript/BrotherhoodScript.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  