$font-path: "./assets/fonts/";

html,
body {
    min-width: 320px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden,
.access {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.accent-color {
    color: #FF8282;
}

.accent-border {
    border: 1px solid #FDC4C4;
}

.vertical-margin-spaced {
    margin-top: 15px;
    margin-bottom: 15px;
}

.padded-text {
    line-height: 30px;
    font-size: 1.6rem;
    padding: 10px 0 10px 0;
}