.table {
  width: 100%;
  margin: 20px 0px;

  caption {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
  }

  th,
  td {
    width: 50%;
  }

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    th {
      text-align: left;
      font-weight: normal;

    }
  }
}

.terms-and-conditions {
  margin: 20px 0 10px 0;
}