.table {
  width: 100%;
  margin: 20px 0px;

  caption {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
  }

  th,
  td {
    text-align: left;
  }


  tbody {
    th {
      text-align: left;
      font-weight: normal;

    }
  }

  .price-col {
    width: 20%;

    @media screen and (min-width: 480px) {
      width: 40%;
    }
  }

  .mobile-align-right {
    text-align: right;

    @media screen and (min-width: 480px) {
      text-align: left;
    }
  }
}

.terms-and-conditions {
  margin: 20px 0 10px 0;
}
