<!-- footer -->
<div class="container text-center">
  <footer class="footer">
    <a target="_blank" href="https://www.facebook.com/jana.jurakova">
      <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
    </a>
    <a href="">
      <i id="social-tw" class="fa fa-twitter-square fa-3x social" style="color: grey;"></i>
    </a>
    <a href="">
      <i id="social-instagram" class="fa fa-instagram fa-3x social" style="color: grey;"></i>
    </a>
    <a target="_blank" href="mailto:jana.jurakova@yahoo.co.uk">
      <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
    </a>
  </footer>
</div>