.about-me-title {
    padding: 10px 0 10px 0;
}

.about-me-heading {
    line-height: 30px;
    padding: 10px 0 10px 0;
}

.about-me-image {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-image:url("../../assets/images/jana_about_me.jpg");
    background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255,255,255, .3)), url("../../assets/images/jana_about_me.jpg");
}