<!-- Title and photo -->
<div class="container text-center">
  <h1 class="about-me-title">Jana Jurakova</h1>

  <div class="about-me-image img-circle"></div>

  <!-- About me -->
  <h3 class="about-me-heading accent-color">About me</h3>

  <p class="padded-text">I am Jana, a professional freelance makeup artist based in London and the South East. I started my fashion business in 2008 and studied makeup at <a target="_blank" rel="noopener" href="http://www.arts.ac.uk/fashion/">London College of Fashion</a>. I have also completed many short courses with <a target="_blank" rel="noopener" href="https://www.illamasqua.com/" alt="Illamasqua professional makeup">Illamasqua</a>, a beauty range.</p>
  <p class="padded-text">A very creative and artistic individual, I have been passionate about makeup and beauty since a young age. I remember helping my girlfriends with their makeup, hair and even style their outfits since I was a teenager.
    I really enjoy experimenting with new looks and styles. To compliment my wedding makeup passion, I also have experience with beauty, fashion, fitness, fetish, glamour, lingerie, pin up, and Halloween makeup.</p>
  <p class="padded-text">My passion for wedding makeup started because I find it to be, one of the most important and memorable days in a persons life. As women from all over the world want to look their best for their big day. 
    Wedding makeup should give a bride confidence so she looks and feels like the very best version of herself.</p> 
  <p class="padded-text">Being part of your special day is a unique experience for me, and seeing all the stunning brides so gorgeous and happy on their special day is my biggest joy and achievement!</p>

  <h3 class="about-me-heading accent-color">Why me?</h3>
  
  <p class="padded-text">I have such a long and passionate love affair with makeup. Makeup became a very important and essential part of my life.
    I'm here to help make your wedding day a memmorable occasion, completing your look with a touch of beauty and elegance.</p> 
  <p class="padded-text">So whether you're planning an intimate wedding with just a few people or an extravagant event with a large bridal party, you can relax knowing you're in good hands with me. 
    The style of makeup I produce can be so pure or sexy, but definitely glamorously gorgeous. We will discuss your ideas and styles and together we will find the perfect way to make you look incredible.</p>
</div>